/*makes videos responsive*/
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 60px; 
	overflow: hidden;
	margin-bottom:20px;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vertical-align-top {
    display: flex;
    align-items: top;
}
.vertical-align-middle {
    display: flex;
    align-items: middle;
}
.h1-top{
	margin-top:0px;
}
.music-director{
/*	font-size: 16px;*/
	text-align: right;
	vertical-align: top;
}
/*	================================================================================
	Media Queries
	Min-Width:Refers to everything greater than or equal.
	Max-Width:Refers to everything less than or equal.
	================================================================================
	240px
	================================================================================	*/
@media(min-width:240px) {
	.music-director{
		font-size: 18px;
		text-align: right;
		vertical-align: top;
				position:absolute;
		top: 14px;
		right:0px;
		padding-right:10px;

	}
		.russian-header{
		margin-left:15px;
		font-size: 18px;
		vertical-align: top;
/*		position:absolute;
		left:30px;*/
	}
		.rco-header{
/*    padding-top: 60px;
*/    padding-left: 15px;
    padding-right: 15px;
    /*background-color: #428bca;*/
    background:#606463;
    color:#fff;
    height:70px;
}
}
/*	================================================================================
	300px - Max
	================================================================================	*/
@media(max-width:300px) {
	
}

/*	================================================================================
	400px - Max
	================================================================================	*/
@media(max-width:400px) {
	
}

/*	================================================================================
	480px - Max
	================================================================================	*/
@media(max-width:480px) {
/*	.music-director{
		font-size: 14px;
		text-align: right;
	}*/

}

/*	================================================================================
	480px - Min
	================================================================================	*/
@media(min-width:480px) {
	

}

/*	================================================================================
	768px - Max
	================================================================================	*/
@media(max-width:767px) {
	.rco-header{
    	height:42px;
	}
		.music-director{
		font-size: 14px;
		text-align: right;
		right:0px;
		position:absolute;
		top: 2px;
		padding-right:10px;
	}
			.russian-header{
		margin-left:15px;
		font-size: 14px;
		vertical-align: top;
/*		position:absolute;
		left:30px;*/
	}

/*	.music-director{
		font-size: 16px;
		text-align: right;
	}*/
}

/*	================================================================================
	768px - Min
	================================================================================	*/
@media(min-width:768px) {

	
	
}

/*	================================================================================
	992px - Max
	================================================================================	*/
@media(max-width:991px){


}
/*	================================================================================
	992px - Min
	================================================================================	*/
@media(min-width:992px){


}

.rco-header >img{
    float: right;
}
.float-right{
	float:right;
}
.rco-players{
	font-size:16px;
	margin:0px;
}
.rco-date{
	margin-top:36px;
	border-top: #ccc;
	font-style: italic;
}
.rco-featured-musician{
	margin-top:36px;
	font-size:20px;
	font-style: italic;

}
.rco-left-img{
	padding-right:12px;
}
.rco-fb-img{
	margin-top:-8px;
}
.rco-padding-right{
	padding-right:30px;
}
/* offsets anchors with fixed top menu */
/*a[name] {
  padding-top: 40px;
  margin-top: -40px;
  display: inline-block; 
}*/


/*@font-face {
            font-family: 'Glyphicons Halflings';
            src: url('/fonts/glyphicons-halflings-regular.eot');
        }*/