.vertical-align-top {
    display: flex;
    align-items: top;
}
.vertical-align-middle {
    display: flex;
    align-items: middle;
}
.h1-top{
	margin-top:0px;
}
.music-director{
	text-align: right;
	vertical-align: top;
}
/*	================================================================================
	Media Queries
	Min-Width:Refers to everything greater than or equal.
	Max-Width:Refers to everything less than or equal.
	================================================================================
	240px
	================================================================================	*/
@media(min-width:240px) {
	.music-director{
		font-size: 18px;
		text-align: right;
		vertical-align: top;
		position:absolute;
		top: 14px;
		right:0px;
		padding-right:10px;

	}
		.russian-header{
		margin-left:15px;
		font-size: 18px;
		vertical-align: top;
	}
		.rco-header{
    padding-left: 15px;
    padding-right: 15px;
    background:#606463;
    color:#fff;
    height:70px;
}
}
/*	================================================================================
	300px - Max
	================================================================================	*/
@media(max-width:300px) {
	
}

/*	================================================================================
	400px - Max
	================================================================================	*/
@media(max-width:400px) {
	
}

/*	================================================================================
	480px - Max
	================================================================================	*/
@media(max-width:480px) {

}

/*	================================================================================
	480px - Min
	================================================================================	*/
@media(min-width:480px) {
	

}

/*	================================================================================
	768px - Max
	================================================================================	*/
@media(max-width:767px) {
	.rco-header{
    	height:42px;
	}
	.music-director{
		font-size: 14px;
		text-align: right;
		right:0px;
		position:absolute;
		top: 2px;
		padding-right:10px;
	}
	.russian-header{
		margin-left:15px;
		font-size: 14px;
		vertical-align: top;
	}

}

/*	================================================================================
	768px - Min
	================================================================================	*/
@media(min-width:768px) {

	
	
}

/*	================================================================================
	992px - Max
	================================================================================	*/
@media(max-width:991px){


}
/*	================================================================================
	992px - Min
	================================================================================	*/
@media(min-width:992px){


}

.rco-header >img{
    float: right;
}
.float-right{
	float:right;
}
.rco-players{
	font-size:16px;
	margin:0px;
}
.rco-pieces{
	margin-top:-10px;
}
.rco-location{
	margin-top:-16px;
}
.rco-date{
	margin-top:36px;
	padding-bottom:8px;
	border-top: #ccc;
	font-style: italic;
}
.rco-featured-musician{
	margin-top:36px;
	font-size:20px;
	font-style: italic;

}
.rco-left-img{
	padding-right:12px;
}
.rco-fb-img{
	margin-top:-8px;
}
.rco-padding-right{
	padding-right:30px;
}